# Archivos innecesarios de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln

# Archivos de versiones locales
*.log
